<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mem">
	<select id="all" resultType="part03.MemDTO">
		select * from mem order by num desc
	</select>
	<insert id="ins" parameterType="part03.MemDTO">
	<!-- 테이블에서 null값을 허용한 컬럼에 null값을 insert할때는 컬럼에 jdbcType=VARCHAR을 지정해준다. -->
  	<!--  insert할때 null값을 허용할때는 #{컬럼명,jdbcType=VARCHAR} -->
  	<!--  숫자는 NUMERIC or INTEGER -->
 	insert into mem values(mem_num_seq.nextval,#{name,jdbcType=VARCHAR},#{age,jdbcType=NUMERIC},#{loc,jdbcType=VARCHAR})
	</insert>
	<update id="upt" parameterType="part03.MemDTO">
		update mem set name=#{name} where num=#{num}
	</update>
	<delete id="del" parameterType="int">
	 delete from mem where num=#{num}
	</delete>
	<select id="one" parameterType="int" resultType="part03.MemDTO">
		select * from mem where num=#{num}
	</select>
	<select id="cnt" parameterType="int" resultType="int">
		select count(*) from mem
	</select>
</mapper>